/*
 * @Author: 焦质晔
 * @Date: 2021-07-06 14:57:55
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2022-03-06 22:41:10
 */
.app-watermark {
  z-index: 9999;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
