/*
 * @Author: 焦质晔
 * @Date: 2021-07-06 14:17:46
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2022-04-17 09:44:37
 */
.app-layout {
  height: 100vh;
  .ant-layout-header {
    height: 48px;
    line-height: 1;
    display: flex;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid @borderColor;
    .trigger {
      display: flex;
      align-items: center;
      padding: 0 20px;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        color: @primaryColor;
        background-color: rgba(0, 0, 0, 0.045);
      }
    }
    .app-multi-tab {
      flex: 1;
    }
  }
  .ant-layout-sider {
    position: relative;
    z-index: 5;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    transition: width 0.2s, min-width 0.2s, max-width 0.2s;
    &-dark {
      background: @siderBackgroundColor;
      .ant-menu-dark {
        background: @siderBackgroundColor;
        .ant-menu-sub {
          background: @subSiderBackgroundColor;
        }
      }
    }
    &-children {
      display: flex;
      flex-direction: column;
    }
    .app-logo {
      height: 48px;
    }
    .app-all-nav {
      .ant-menu-item {
        height: 28px;
        line-height: 28px;
      }
    }
    .app-star-nav {
      .ant-menu-submenu-title,
      .ant-menu-item {
        height: 28px;
        line-height: 28px;
      }
    }
    .app-side-menu {
      .ant-menu-submenu .ant-menu-submenu-title,
      .ant-menu-item {
        height: 28px;
        line-height: 28px;
      }
      .ant-menu-inline-collapsed > .ant-menu-submenu-selected {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 3px;
          height: 28px;
          background-color: @primaryColor;
          z-index: 2;
        }
      }
    }
  }
  .ant-layout {
    position: relative;
    .ant-layout-content {
      padding: @modulePadding @modulePadding 0;
      overflow-x: hidden;
      overflow-y: auto;
      &.no-bg-color {
        background-color: #fff;
      }
      .app-iframe-container {
        height: calc(100% + @moduleMargin);
        margin: -@moduleMargin -@moduleMargin 0;
        overflow: hidden;
      }
    }
  }
  &.is-mobile > .ant-layout-sider {
    position: fixed;
    height: 100%;
    z-index: 10;
    transition: transform 0.3s ease;
  }
  &.show-sidebar > .ant-layout-sider {
    transform: translate3d(0, 0, 0);
  }
  &.hide-sidebar > .ant-layout-sider {
    transform: translate3d(-200px, 0, 0);
  }
  // 52  48  44
  &__sm {
    @item-height: 24px;
    .ant-layout-header {
      height: 44px;
    }
    .ant-layout-sider {
      .app-logo {
        height: 44px;
      }
      .app-all-nav {
        .ant-menu-item {
          height: @item-height;
          line-height: @item-height;
        }
      }
      .app-star-nav {
        .ant-menu-submenu-title,
        .ant-menu-item {
          height: @item-height;
          line-height: @item-height;
        }
      }
      .app-side-menu {
        .ant-menu-submenu .ant-menu-submenu-title,
        .ant-menu-item {
          height: @item-height;
          line-height: @item-height;
        }
        .ant-menu-inline-collapsed > .ant-menu-submenu-selected {
          &::before {
            height: @item-height;
          }
        }
      }
    }
  }
  &__lg {
    @item-height: 32px;
    .ant-layout-header {
      height: 52px;
    }
    .ant-layout-sider {
      .app-logo {
        height: 52px;
      }
      .app-all-nav {
        .ant-menu-item {
          height: @item-height;
          line-height: @item-height;
        }
      }
      .app-star-nav {
        .ant-menu-submenu-title,
        .ant-menu-item {
          height: @item-height;
          line-height: @item-height;
        }
      }
      .app-side-menu {
        .ant-menu-submenu .ant-menu-submenu-title,
        .ant-menu-item {
          height: @item-height;
          line-height: @item-height;
        }
        .ant-menu-inline-collapsed > .ant-menu-submenu-selected {
          &::before {
            height: @item-height;
          }
        }
      }
    }
  }
}
.ant-submenu-popup-dark {
  .ant-menu-sub {
    background: @siderBackgroundColor !important;
    .ant-menu-submenu-selected {
      color: #fff;
    }
  }
}
